{
    "presets": [
    [
      "@babel/preset-env",
      {
	  "targets": {
	    "android": "5"
	  }
	}
    ]
  ],
    "plugins":[
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-runtime",
        [
            "import",
            {
                "libraryName": "mand-mobile",
                "libraryDirectory": "lib"
            }
        ]
    ]
}
